body {
    margin: 60px auto;
    width: 70%;
}
html, * {
  font-weight: 366;
  font-family: 'Ubuntu', sans-serif;
}
nav ul, footer ul {
    font-family: 'Ubuntu', sans-serif;
    padding:20px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 10px;
}
a {
    font-weight: normal;
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: 'Ubuntu', sans-serif;
}
p {
    font-size: 1.3em;
    line-height: 1.4em;
    color: #333;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

footer {
    position: absolute;
    font-size: 1.5em;
    text-align: left;
    width: 100%;
    #border-top: 1px solid #d5d5d5;
}

