/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #63c8f6;
}

a:hover {
  color: #41b990;
  text-decoration: underline;
}

.hidden {
  display: none;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: #fff;
  font-family: 'Ubuntu', sans-serif;
}
body {
  color: #333;
  text-align: left;
}

/*
 * Footer
 */
footer {
   width: 100%;
   text-align: center;
}

footer li {
  list-style: none;
  display: inline;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

footer ul {
  margin: 0;
  padding: 0;
}

.flip {
  display: inline-block;
  transform: scaleX(-1);
  filter: FlipH;
}

/*
 * To check
 */
nav ul, footer ul {
    font-family: 'Ubuntu', sans-serif;
    padding:20px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 10px;
}

h1 {
    font-size: 3em;
    font-family: 'Ubuntu', sans-serif;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/*
 * References:
       https://github.com/theacodes/thea.codes/blob/master/static/style.css
       https://github.com/oliviaguest/oliviaguest.github.io/blob/master/css/style.css
 */