/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #63c8f6;
}

a:hover {
  color: #41b990;
  text-decoration: underline;
}

.hidden {
  display: none;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: #fff;
  font-family: 'Ubuntu', sans-serif;
}
body {
  color: #333;
  text-align: left;
}

/*
 * Footer
 */
footer {
   width: 100%;
   text-align: center;
}

footer li {
  list-style: none;
  display: inline;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

footer ul {
  margin: 0;
  padding: 0;
}

.flip {
  display: inline-block;
  transform: scaleX(-1);
  filter: FlipH;
}

/*
 * Header
 */
  #header {
    text-align: center;
    padding: 6em 0 4em 0;
  }

    #header h1 {
      color: rgba(0, 0, 0, 0.85);
    }

    #header .avatar {
      border-radius: 100%;
      display: inline-block;
      margin: 0 0 2em 0;
      padding: 0.5em;
      border: solid 1px rgba(255, 255, 255, 0.25);
      background-color: rgba(255, 255, 255, 0.075);
    }

      #header .avatar img {
        border-radius: 100%;
        display: block;
        width: 10em;
      }


    ul.icons {
      cursor: default;
      list-style: none;
      padding-left: 0;
    }

      ul.icons li {
        display: inline-block;
        font-size: 1.5rem;
        padding: 0 1em 0 0;
      }

        ul.icons li:last-child {
          padding-right: 0;
        }


/*
 * related to accordion menu
 */
.cv {
  font-size: 2rem;
  /* padding-top: 0.5rem; */
}

.accordion {
  cursor: pointer;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.panel {
  margin-bottom: 0;
  cursor: pointer;
  outline: none;
}

.panel-content {
  margin-left: 1rem;
}


/*
 * To check
 */
nav ul, footer ul {
    font-family: 'Ubuntu', sans-serif;
    padding:20px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 10px;
}

h1 {
    font-size: 3em;
    font-family: 'Ubuntu', sans-serif;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/*
 * References:
       https://github.com/theacodes/thea.codes/blob/master/static/style.css
       https://github.com/oliviaguest/oliviaguest.github.io/blob/master/css/style.css
       https://github.com/rodluger/rodluger.github.io/blob/master/assets/css/main_2.0.1.css
 */