<!-- CSS -->
<!-- link to main stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/style.css">

<!-- https://getbootstrap.com/ -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

<!-- https://github.com/FortAwesome/Font-Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">

<!-- https://jpswalsh.github.io/academicons/ -->
<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">

<!-- https://askubuntu.com/questions/16556/embed-ubuntu-font-on-any-web-page -->
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">