<p style="padding-top:0.5rem">
  I am always happy to hear about new collaborators, opportunities, and participate in conferences or public engagement activities.
  Please do get in touch via email: m.xochicale@ucl.ac.uk.
  For detailed information, please see my CV and its github repository:
</p>
<p class="cv">
    <a 
	href="https://github.com/mxochicale/cv/blob/generated-pdfs/cv-two-pages.pdf"> <i class="far fa-file-pdf"></i> 
    </a>
    <a  
	href="https://github.com/mxochicale/cv"> <i class="fab fa-github"></i> 
    </a>
</p>

