<footer>
	<ul>
        <li>
            <a href="//github.com/mxochicale" title="Fork me on GitHub" style="text-decoration:none">
            <i class="fab fa-github"></i>
            </a>
        </li>

		<li> <a href="https://twitter.com/_mxochicale" title="Follow me on Twitter" style="text-decoration:none">
            <i class="fab fa-twitter"></i>
            </a>
        </li>

        <li>
            <a href="//orcid.org/0000-0002-8225-7517" title="View my ORCID profile" style="text-decoration:none">
			<i class="ai ai-orcid"></i>
            </a>
        </li>

        <li>
            <a href="//scholar.google.com/citations?user=_M0fVVIAAAAJ" title="View my Google Scholar profile" style="text-decoration:none">
            <i class="ai ai-google-scholar" aria-hidden="true"></i>
            </a>
        </li>

	</ul>

</footer>