<footer>
	<ul>
        <li> <a href="//github.com/mxochicale" title="Fork me on GitHub" style="text-decoration:none">
            <i class="fab fa-github"></i>
            </a>
        </li>

		<li> <a href="https://twitter.com/_mxochicale" title="Follow me on Twitter" style="text-decoration:none">
            <i class="fab fa-twitter"></i>
            </a>
        </li>

		<li> <a href="https://github.com/mxochicale/mxochicale.github.io/commits/master"> Last website modification
            </a>
        </li>
	</ul>

</footer>