<p>
I am currently Research Associate at King's College London (KCL) within
the School of Biomedical Engineering & Imaging Sciences
(<a href="https://www.kcl.ac.uk/bmeis">BMEIS</a>) where
I am pushing forward the state-of-the-art of ultrasound-guided
procedures by making scientific contributions to new algorithms,
software and hardware.
I have 20 years’ experience in human-robot interaction, electronics, mechatronics and signal processing,
along with 12 years’ experience as a teaching associate in Mechatronic and Computer Engineering.
</p>

<p>
I have passion for <a href="https://en.wikipedia.org/wiki/Open_science">Open Science</a>
meaning that I open sourced pretty much all my contributions in my GitHub repository
<a href="https://github.com/mxochicale">@mxochicale</a>.
I also tweet and re-tweet about Robotics, Physics, AI and Brains <a href="https://twitter.com/_mxochicale">@_mxochicale</a>.
Do get in touch, I am always looking for new collaborations and opportunities!
</p>
