<p>
Hi, I am Miguel. 
My research interests are in the creation of Signal and Image Processing techniques in the context of Human-Robot Interaction, Wearables in Medicine, Ultrasound-Guided Interventions, Medical Robotics, and Research Software Engineering.
</p>

<p>
I am currently Research Associate at King's College London within
the <a class="white" href="https://www.kcl.ac.uk/bmeis">School of Biomedical Engineering and Imaging Sciences</a>
where, in the group of Prof. of Interventional Image Computing
<a class="white" href="https://cai4cai.ml/">Tom Vercauteren</a>,
I am pushing forward the state-of-the-art of ultrasound-guided
procedures and making scientific contributions to new algorithms,
software and hardware.
Prior to that, I was awarded a Ph.D. degree in Computer Engineering
from the <a class="white"  href="http://www.birmingham.ac.uk/index.aspx">University of Birmingham</a> in July 2019
where I investigated <a class="white"  href="https://mxochicale-phd.github.io/site/">
Nonlinear Analysis to Quantify Movement Variability in Human-Humanoid Interaction</a>
under the supervision of Prof. of Pervasive and Ubiquitous Computing
<a class="white"  href="http://www.birmingham.ac.uk/staff/profiles/eese/baber-chris.aspx">Chris Baber</a>
and Prof. of Information Engineering
<a class="white"  href="http://www.birmingham.ac.uk/staff/profiles/eese/russell-martin.aspx">Martin Russell</a>.
</p>

<p>
I have 20 years’ experience in human-robot interaction, electronics, mechatronics and signal processing,
along with 12 years’ experience as a teaching associate in Mechatronic and Computer Engineering.
I have passion for <a class="white"  href="https://en.wikipedia.org/wiki/Open_science">Open Science</a>
meaning that I open-sourced  all my contributions to knowledge in my GitHub
<a class="white"  href="https://github.com/mxochicale">@mxochicale</a>.
I also tweet and re-tweet about Robotics, Chaos, AI and Brains
<a class="white" href="https://twitter.com/_mxochicale">@_mxochicale</a>,
I write in my <a class="white" href="http://mxochicale.github.io/blog/ ">blog</a>,
and in my free time am trying to improve <a class="white" href=/assets/images/avatar/mapx_april2016.jpg>my juggling skills</a>.
</p>
