<p >
<ul class="bullets">

  <li> <b>2024-08-01:</b>
  🎉 I am excited to share that I have been promoted to Senior Research Software Engineer at the Advanced Research Computing Centre!
  </li>

  <li> <b>2024-03-01:</b> 
  Full Day Workshop at the 16th Hamlyn Symposium on Medical Robotics on "Open-Source Software for Surgical Technologies" was accepted!
  <a href="https://www.hamlynsymposium.org/events/open-source-software-for-surgical-technologies-2/"><i class="fa fa-link"></i></a> 
  </li>

  <li> <b>2023-09-26:</b>
  "Towards lightweight transformer-based models with multimodal data for low-latency surgical applications" has been accepted for 15 minutes presentation at the Fast Machine Learning for Science! Presentation for Fast Machine Learning for Science [Tue 26/09/2023; 17:00 - 17:15] 
  <a href="https://github.com/mxochicale/sentient/issues/32"><i class="fa fa-link"></i></a> 
  </li>

  <li> <b>2023-09-08:</b>
  Sujon Hakim presented his poster at the In2research Celebration Event, Friday 8th September, at the Royal Institution, London 
  <a href="https://github.com/mxochicale/sentient/tree/main/docs/posters/in2research2023"><i class="fa fa-link"></i></a>  <a href="https://x.com/_mxochicale/status/1701155156178391092"> <i class="fab fa-twitter"></i> </a> 
  </li>

  <li> <b>2023-09-06:</b>
  Contributed to deliver workshop on "How to use and contribute to a software sustainability dashboard" 
  <a href="https://virtual.oxfordabstracts.com/#/event/4430/submission/41"><i class="fa fa-link"></i></a> 
  </li>

  <li> <b>2023-05-09:</b> Qingyu Yang from the Institute of Health Informatics at UCL started her MPhil project under my supervision with the project titled: "High-resolution fetal brain ultrasound imaging synthesis". </li>

  <li> <b>2023-04-28:</b> "Towards Realistic Ultrasound Fetal Brain Imaging Synthesis" was accepted at Medical Imaging with Deep Learning 2023 (MIDL2023)  <a href="https://github.com/budai4medtech/midl2023"> <i class="fab fa-github"></i></a> </li>
  <li> <b>2023-04-01:</b> "Towards a Simple Framework of Skill Transfer Learning for Robotic Ultrasound-guidance Procedures" was accepted at Robot-Assisted Medical Imaging (RAMI) ICRA workshop 2023  <a href="https://github.com/mxochicale/rami-icra2023"><i class="fab fa-github"></i></a> </li>
  <li> <b>2023-03-20:</b> In2research Placement project "AI-based evaluation of surgical skills using open-source software libraries" was accepted. Placement will be 8 weeks and take place between 1 June and 31 Aug 2023. </li>
  <li> <b>2023-01-18:</b> Xiaoning Zhu from the Institute of Health Informatics at UCL started her MPhil project under my supervision with the project titled: "Automatic Medical Image Reporting". </li>
  <li> <b>2023-03-02:</b> "Open-Source Software for Surgical Technologies" was accepted at the Hamlyn Symposium on Medical Robotics 2023, which I am leading! <a href="https://www.hamlynsymposium.org/events/open-source-software-for-surgical-technologies/"><i class="fa fa-link"></i></a>  </li>  

  <li> <b>2022-10-10:</b>
  🎉 I've started a new role as Research Engineer <a class="white" href="https://twitter.com/ucl_arc">@ucl_arc</a> / <a class="white" href="https://twitter.com/weiss_ucl">@WEISS_UCL</a> to push fordward <a class="white" href="https://twitter.com/scikit_surgery">@scikit_surgery</a> 
  </li>

  <li> <b>2022-09-30:</b> Samuel Eyob and Pablo Prieto Roca successfully completed their projects on 3D fetal ultrasound synthesis for the King’s Undergraduate Research Fellowships 2022. </li>
  <li> <b>2022-09-30:</b> Tsz Yan (Goosie) Leung successfully submitted and presented her M.Sc. in Medical Engineering and Physics, getting distition. Project title: "Prototype and Study of a Motion-Image Fusion System for Obstetrics Ultrasound Transducer Tracking". </li>
  <li> <b>2022-09-30:</b> Michelle Iskandar successfully submitted and presented her M.Sc. in Healthcare Technologies, investigating Fetal Ultrasound Imaging Sysnthesis using DCGAN and FASTGAN. </li>
  <li> <b>2022-08-30:</b> Thea Bautista received the Maurice Wilkins Prize for the best MEng Individual Research Project in 2022 <a href="https://twitter.com/_mxochicale/status/1564571097932402688"> <i class="fab fa-twitter"></i> </a> </li>
  <li> <b>2022-07-28:</b> "Empirical Study of Quality Image Assessment for Synthesis of Fetal Head Ultrasound Imaging with DCGANs" was accepted at <a class="white" href="https://www.miua2022.com/">miua2022</a> conference. Paper, code data and more <a href="https://twitter.com/_mxochicale/status/1552589649356488704"> <i class="fab fa-twitter"></i> </a> </li>
  <li> <b>2022-03-11:</b> Presented "Piloting diversity and inclusion workshops in AIR4Children" at HRI2022 <a href="https://sites.google.com/view/dei-hri-2022/schedule">  <i class="fa fa-link"></i>  </a>    <a href="https://github.com/air4children/hri2022"> <i class="fab fa-github"></i>  </a> <a href="https://twitter.com/_mxochicale/status/1502185554477256704"> <i class="fab fa-twitter"></i> </a> <a href="https://www.youtube.com/watch?v=4pd8KsbUDgA">  <i class="fab fa-youtube"></i>  </a>  </li>
  <li> <b>2021-10-05:</b> <a class="white" href="https://uk.linkedin.com/in/thea-bautista-9301801a2">Thea Bautista</a> from the <a class="white" href="https://www.kcl.ac.uk/bmeis">BMEIS</a> started her Master engineering project under my supervision with the project titled: "GAN-based synthetic ultrasound imaging for fetal development". </li>
  <li> <b>2021-09-01:</b> I joined <a class="white" href="http://vital.oucru.org/">VITAL</a> project as Research Associate, at King's College London within the <a class="white" href="https://www.kcl.ac.uk/bmeis">BMEIS</a>, to push forward the area of real-time automatic biometric recognition of Cardiac ultrasound using deep learning techniques.</li>
  <li> <b>2021-07-01:</b> I supervised two summer undergraduate projects from King’s Undergraduate Research Fellowships. Amal Hussein created new designs of 3D printed probes for an ultrasound-guidance simulator and Guilherme Gomes de Figueiredo explored the promising area of synthetic ultrasound imagining with AI  <a href="https://twitter.com/_mxochicale/status/1431191388503281665"> <i class="fab fa-twitter"></i> </a> </li>
  <li> <b>2021-03-08:</b> Presented "AIR4Children: Artificial Intelligence and Robotics for Children" at HRI2021  <a href="https://sites.google.com/view/robotschildrights/home">  <i class="fa fa-link"></i>  </a>    <a href="https://github.com/air4children/hri2021"> <i class="fab fa-github"></i>  </a> <a href="https://twitter.com/_mxochicale/status/1368839470502514690"> <i class="fab fa-twitter"></i> </a> </li>
  <li> <b>2021-01-07:</b> King's Public Engagement Award on FETUS: Finding a fETus with an Ultrasound Simulator <a href="https://kingsengagedresearchblog.wordpress.com/2021/01/22/winners_dec20_pe_smallgrants/">  <i class="fa fa-link"></i>  </a>    <a href="http://mxochicale.github.io/kings-pe-award/">  <i class="fa fa-link"></i> </a>    <a href="https://twitter.com/GIFT_Surg/status/1347211959775752192"> <i class="fab fa-twitter"></i> </a>    </li>
  <li> <b>2020-10-15:</b> Alexander Mitton, my first supervised Master student at BMEIS, won the award of outstanding individual project <a href="https://www.kcl.ac.uk/news/mscmres-healthcare-technologies-award-student-prizes-for-outstanding-performance-and-contributions-to-student-life">  <i class="fa fa-link"></i>  </a>  <a href="https://twitter.com/_mxochicale/status/1319171615209345025"> <i class="fab fa-twitter"></i> </a>  </li>
  <li> <b>2020-09-11:</b> Presented "open-corTeX: A continuous integration framework for open scientific communication" at RRTS20 <a href="https://coursesandconferences.wellcomeconnectingscience.org/our-events/reproducibility-replicability-trust-in-science-2020/">  <i class="fa fa-link"></i>  </a>  <a href="https://github.com/mxochicale/rrts2020"> <i class="fab fa-github"></i>  </a>  <a href="https://twitter.com/_mxochicale/status/1303285677375852545"> <i class="fab fa-twitter"></i> </a>  <a href="https://www.youtube.com/watch?v=KHDezS4LfZ0">  <i class="fab fa-youtube"></i>  </a>   </li>
  <li> <b>2020-04-14:</b> King’s Health Partners grant for the project "Sensory system abnormalities in childhood dystonia" lead by Verity McClelland and in collaboration with Carlos Seneci <a href="https://kclpure.kcl.ac.uk/portal/en/projects/sensory-system-abnormalities-in-childhood-dystonia--dystonic-cerebral-palsy--are-sensory-networks-modulated-by-deep-brain-stimulation(8626b4a3-8b3c-440a-8db1-82268fbb124a).html">  <i class="fa fa-link"></i>  </a> </li>
</ul>

</p>
