<p>
This section will be under construction in the following months (i.e. July, August and September 2020)
but I would like to quickly mention some coming updates are for
(a) simulator of ultrasound-guided needle for public engagement events, and
(b) low-power vibrational stimulator to study evoked cortical responses.
In the meantime, have a look to some of my previous projects:
<a class="white" href="https://github.com/hri-demos-uob">demos of human-robot interaction</a>
and <a class="white" href="https://sites.google.com/site/perezxochicale/projects">others</a>.
</p>