<p>
Led and managed software development and infrastructure projects, turning research ideas into real-world solutions. 
Ensured high-quality code and thorough documentation at every stage, while overseeing smooth deployment to scalable and clinically effective medical devices.

    <ul class="bullets">

    <li> <b>July 2025 -  Sep 2025 </b>
    udetect: Automatic Uveitis Detection.
    In collaboration with researchers from the UCL Institute of Ophthalmology, the UCL Institute of Health Informatics and the UCL Great Ormond Street Institute of Child Health.
    [Github repo and publication to appear in Q1-2026]
    </li>

    <li> <b>May 2025 - June 2025 </b>
    🧠 SENSE-BASE: An Open-Source Framework for Biological Signals and Computer Vision Sensor Data
    [<a href="https://github.com/sense-base"> <i class="fab fa-github"></i>  </a>]
    </li>

    <li> <b>Jan 2025 - Present </b>
    Central Repository for Center for Digital Innovation (CDI) Reference Applications.
    Leading and managing software development and infrastructure projects, transforming research ideas from UCL PhD students, postdocs, PIs, and professors into real-world solutions.
    [<a href="https://github.com/UCL-CDI/cdi-hub"> <i class="fab fa-github"></i>  </a>]
    </li>

    <li> <b>May 2024 - Present </b>  
    🤖 👁️ READY: REal-time Ai Diagnosis for nYstagmus.
    [<a href="https://github.com/oocular/ready"> <i class="fab fa-github"></i>  </a>]
    </li>

    <li> <b>Oct 2023 - Apr 2024</b>  
    Real-time AI for surgery with NVIDIA-Holoscan platform: Led software reserach engineer advancing real-time AI-enabled surgical tools by developing end-to-end frameworks, including training, inference, API design, and deployment to medical devices (see  <a class="white"  href="https://mxochicale.github.io/real-time-ai-for-surgery-with-NVIDIA-Holoscan-platform/#/title-slide">slides</a>).
    </li>

    <li> <b>2021-2022</b>  GAN-based synthetic ultrasound imaging for fetal development</li>

    <li> <b>2021-2022</b>  Towards simple and effective ultrasound-guidance procedures</li>

    <li> <b>2021-2021</b>  Simulator of ultrasound-guided needle for public engagement events  [ <a href="https://kingsengagedresearchblog.wordpress.com/2021/01/22/winners_dec20_pe_smallgrants/">  <i class="fa fa-link"></i>  </a>    <a href="http://mxochicale.github.io/kings-pe-award/">  <i class="fa fa-link"></i> </a>    <a href="https://twitter.com/GIFT_Surg/status/1347211959775752192"> <i class="fab fa-twitter"></i> </a> <a href="https://github.com/xfetus/public-engagement-project"> <i class="fab fa-github"></i>  </a>] </li>
    <li> <b>2020-2021</b>  Low-power vibrational stimulator to study evoked cortical responses</li>
    <li> <b>2020-ongoing</b> I am innovating at "AIR4Children: Artificial Intelligence and Robotics for Children" in low resource income countries [<a href="https://github.com/air4children/hri2021"> <i class="fab fa-github"></i>  </a> <a href="https://twitter.com/_mxochicale/status/1368839470502514690"> <i class="fab fa-twitter"></i> </a>]. </li>
    <li>  <b>before-2020</b> You might like to have a look to some of my previous projects:
        <a class="white" href="https://github.com/hri-demos-uob">demos of human-robot interaction</a>
        and <a class="white" href="https://sites.google.com/site/perezxochicale/projects">others</a>. </li>
    </ul>
</p>
<p>
</p>

