<p>
    List of projects I am leading (or had led):
    <ul class="bullets">
    <li> <b>2021-2022</b>  GAN-based synthetic ultrasound imaging for fetal development</li>
    <li> <b>2021-2022</b>  Towards simple and effective ultrasound-guidance procedures</li>
    <li> <b>2021-2021</b>  Simulator of ultrasound-guided needle for public engagement events  [ <a href="https://kingsengagedresearchblog.wordpress.com/2021/01/22/winners_dec20_pe_smallgrants/">  <i class="fa fa-link"></i>  </a>    <a href="http://mxochicale.github.io/kings-pe-award/">  <i class="fa fa-link"></i> </a>    <a href="https://twitter.com/GIFT_Surg/status/1347211959775752192"> <i class="fab fa-twitter"></i> </a> <a href="https://github.com/xfetus/public-engagement-project"> <i class="fab fa-github"></i>  </a>] </li>
    <li> <b>2020-2021</b>  Low-power vibrational stimulator to study evoked cortical responses</li>
    <li> <b>2020-ongoing</b> I am innovating at "AIR4Children: Artificial Intelligence and Robotics for Children" in low resource income countries [<a href="https://github.com/air4children/hri2021"> <i class="fab fa-github"></i>  </a> <a href="https://twitter.com/_mxochicale/status/1368839470502514690"> <i class="fab fa-twitter"></i> </a>]. </li>
    <li>  <b>before-2020</b> You might like to have a look to some of my previous projects:
        <a class="white" href="https://github.com/hri-demos-uob">demos of human-robot interaction</a>
        and <a class="white" href="https://sites.google.com/site/perezxochicale/projects">others</a>. </li>
    </ul>
</p>
<p>
</p>

