<!DOCTYPE html>
	<html>

	<!-- javescript to expand bibtex files -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

		<head>
			<title>{{ page.title }}</title>

			{% include meta.html %}
			{% include css.html %}
			{% include js.html %}

			<!-- Icons -->
      		<!-- <link rel="shortcut icon" href="/images/favicon/favicon.ico"> -->

			<!-- link to main stylesheet -->
			<link href="http://gmpg.org/xfn/11" rel="profile">

		</head>

		<body>

			<nav>
	    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/projects">Projects</a></li>
        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>

			<div class="container">

			{{ content }}

			</div>

			{% include footer.html %}

		</body>
	</html>