<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>

			<!-- CSS -->
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="/css/bootstrap/bootstrap.css" >

			<link rel="stylesheet" href="/public/css/poole.css">
			<link rel="stylesheet" href="/public/css/syntax.css">
			<link rel="stylesheet" href="/public/css/hyde.css">
			<link rel="stylesheet" href="/public/css/bogdan.css">
			<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">


		</head>
		<body>
			<nav>
	    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/publications">Publications</a></li>
        		<li><a href="/projects">Projects</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->


			{% include footer.html %}

		</body>
	</html>
