<!DOCTYPE html>
	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
      <link href="http://gmpg.org/xfn/11" rel="profile">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">


      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

      <title>

        Publications &middot; Miguel P Xochicale

      </title>

      <!-- CSS -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="/css/bootstrap/bootstrap.css" >
			
      <link rel="stylesheet" href="/public/css/poole.css">
      <link rel="stylesheet" href="/public/css/syntax.css">
      <link rel="stylesheet" href="/public/css/hyde.css">
      <link rel="stylesheet" href="/public/css/bogdan.css">
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">


      <!-- Icons -->
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png">
      <link rel="shortcut icon" href="/public/favicon.ico">


      <!-- RSS -->
      <!-- <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml"> -->

		</head>




    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-28938909-1");
        pageTracker._trackPageview();
    } catch(err) {}
    </script>




		 <body class="theme-base-0d">
			<nav>
	    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/publications">Publications</a></li>
        		<li><a href="/projects">Projects</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->




testing https://github.com/bvasiles/bvasiles.github.io/blob/master/publications/index.html




    <div class="content container">
      <div class="page">
        <!--   <h1 class="page-title">Publications</h1> -->
        <h3>Refereed journal articles</h3>




        <ol class="bibliography"><li><div class="refs-row">
          <div class="reference">
            <!-- <span id="emse17"><div class="csl-block"><b>EnTagRec++: An Enhanced Tag Recommendation System for Software Information Sites</b>. </div><div class="csl-block">Wang, S., Lo, D., Vasilescu, B., and Serebrenik, A. </div><div class="csl-block"><i>Empirical Software Engineering</i>, (2017).</div></span> -->
            <span id="emse17"><div class="csl-block"><b>EnTagRec++: An Enhanced Tag Recommendation System for Software Information Sites</b>. </div><div class="csl-block">Wang, S., Lo, D., <u class="ref">Vasilescu, B.</u>, and Serebrenik, A. </div><div class="csl-block"><i>Empirical Software Engineering</i>, (2017).</div></span>
          </div>
          <span class="refs-link"><a href="javascript:void(0)" onclick="$('#bibtex-entry-emse17').slideToggle();">BibTeX</a></span>
          &middot; <span class="refs-link"><a href="/papers/EMSE-EnTagRecPlusPlus.pdf">PDF</a></span>


          <div class="bibtex noshow">
            <pre class="bibtex-entry" id="bibtex-entry-emse17" style="display: none;">@article{emse17,
          author = {Wang, Shaowei and Lo, David and Vasilescu, Bogdan and Serebrenik, Alexander},
          title = { {EnTagRec++}: An Enhanced Tag Recommendation System for Software Information Sites},
          journal = {Empirical Software Engineering},
          abbrv = {EMSE 2017},
          volume = {},
          number = {},
          year = {2017},
          pages = {},
          pdf = {/papers/EMSE-EnTagRecPlusPlus.pdf},
          pubcls = {0},
          publisher = {Springer},
          pubtype = {Journal articles (refereed)}
        }
        </pre>
          </div>
        </div>
        </li>


        <li><div class="refs-row">
<div class="reference">
<!-- <span id="VasilescuESE13"><div class="csl-block"><b>On the variation and specialisation of workload – A case study
    of the Gnome ecosystem community</b>. </div><div class="csl-block">Vasilescu, B., Serebrenik, A., Goeminne, M., and Mens, T. </div><div class="csl-block"><i>Empirical Software Engineering 19</i>, 4 (2013), 955–1008.</div></span> -->
<span id="VasilescuESE13"><div class="csl-block"><b>On the variation and specialisation of workload – A case study
    of the Gnome ecosystem community</b>. </div><div class="csl-block"><u class="ref">Vasilescu, B.</u>, Serebrenik, A., Goeminne, M., and Mens, T. </div><div class="csl-block"><i>Empirical Software Engineering 19</i>, 4 (2013), 955–1008.</div></span>
</div>
  <span class="refs-link"><a href="javascript:void(0)" onclick="$('#bibtex-entry-VasilescuESE13').slideToggle();">BibTeX</a></span>
   &middot; <span class="refs-link"><a href="http://dx.doi.org/10.1007/s10664-013-9244-1">DOI</a></span>
   &middot; <span class="refs-link"><a href="/papers/ese13.pdf">PDF</a></span>
   &middot; <span class="refs-link"><a href="http://www.slideshare.net/tommens/an-empirical-study-on-the-specialisation-effect-in-open-source-communities">Slides</a></span>

   &middot; <span class="refs-link"><a href="http://www.win.tue.nl/mdse/gnome/">Data</a></span>



  <div class="bibtex noshow">
    <pre class="bibtex-entry" id="bibtex-entry-VasilescuESE13" style="display: none;">@article{VasilescuESE13,
  author = {Vasilescu, Bogdan and Serebrenik, Alexander and Goeminne, Mathieu and Mens, Tom},
  title = {On the variation and specialisation of workload -- A case study
    of the {Gnome} ecosystem community},
  journal = {Empirical Software Engineering},
  year = {2013},
  pages = {955--1008},
  volume = {19},
  number = {4},
  data = {http://www.win.tue.nl/mdse/gnome/},
  doi = {http://dx.doi.org/10.1007/s10664-013-9244-1},
  pdf = {/papers/ese13.pdf},
  pubcls = {0},
  publisher = {Springer},
  pubtype = {Journal articles (refereed)},
  slides = {http://www.slideshare.net/tommens/an-empirical-study-on-the-specialisation-effect-in-open-source-communities}
}
</pre>
  </div>
</div>
</li>
</ol>


<h3>Peer-reviewed proceedings</h3>



<ol class="bibliography"><li><div class="refs-row">
<div class="reference">
<!-- <span id="swan17"><div class="csl-block"><b>Timezone and Time-of-Day Variance in GitHub Teams: An Empirical Method and Study</b>. </div><div class="csl-block">Devanbu, P., Kudigrama, P., Rubio-González, C., and Vasilescu, B. </div><div class="csl-block"><i>3rd International Workshop on Software Analytics</i>, <i>SWAN</i>, ACM (2017).</div></span> -->
<span id="swan17"><div class="csl-block"><b>Timezone and Time-of-Day Variance in GitHub Teams: An Empirical Method and Study</b>. </div><div class="csl-block">Devanbu, P., Kudigrama, P., Rubio-González, C., and <u class="ref">Vasilescu, B.</u> </div><div class="csl-block"><i>3rd International Workshop on Software Analytics</i>, <i>SWAN</i>, ACM (2017).</div></span>
</div>
  <span class="refs-link"><a href="javascript:void(0)" onclick="$('#bibtex-entry-swan17').slideToggle();">BibTeX</a></span>
   &middot; <span class="refs-link"><a href="http://dx.doi.org/10.1145/3121257.3121261">DOI</a></span>
   &middot; <span class="refs-link"><a href="/papers/swan17.pdf">PDF</a></span>
   &middot; <span class="refs-link"><a href="/slides/swan17talk.pdf">Slides</a></span>





  <div class="bibtex noshow">
    <pre class="bibtex-entry" id="bibtex-entry-swan17" style="display: none;">@inproceedings{swan17,
  author = {Devanbu, Premkumar and Kudigrama, Pallavi and Rubio-Gonz\'{a}lez, Cindy and Vasilescu, Bogdan},
  title = {Timezone and Time-of-Day Variance in GitHub Teams: An Empirical Method and Study},
  booktitle = {3rd International Workshop on Software Analytics},
  year = {2017},
  series = {SWAN},
  abbrv = {SWAN 2017},
  publisher = {ACM},
  pages = {},
  doi = {http://dx.doi.org/10.1145/3121257.3121261},
  pdf = {/papers/swan17.pdf},
  slides = {/slides/swan17talk.pdf},
  pubcls = {2},
  pubtype = {Workshop papers (peer reviewed)}
}
</pre>
  </div>
</div>
</li>



<li><div class="refs-row">
<div class="reference">
<!-- <span id="vasilescu2017jsnaughty"><div class="csl-block"><b>Recovering Clear, Natural Identifiers from Obfuscated JavaScript Names</b>. </div><div class="csl-block">Vasilescu, B., Casalnuovo, C., and Devanbu, P. </div><div class="csl-block"><i>12th Joint Meeting of the European Software Engineering Conference and the ACM SIGSOFT Symposium on the Foundations of Software Engineering</i>, <i>ESEC/FSE</i>, ACM (2017).</div></span> -->
<span id="vasilescu2017jsnaughty"><div class="csl-block"><b>Recovering Clear, Natural Identifiers from Obfuscated JavaScript Names</b>. </div><div class="csl-block"><u class="ref">Vasilescu, B.</u>, Casalnuovo, C., and Devanbu, P. </div><div class="csl-block"><i>12th Joint Meeting of the European Software Engineering Conference and the ACM SIGSOFT Symposium on the Foundations of Software Engineering</i>, <i>ESEC/FSE</i>, ACM (2017).</div></span>
</div>
  <span class="refs-link"><a href="javascript:void(0)" onclick="$('#bibtex-entry-vasilescu2017jsnaughty').slideToggle();">BibTeX</a></span>
   &middot; <span class="refs-link"><a href="">DOI</a></span>
   &middot; <span class="refs-link"><a href="/papers/fse17jsnaughty.pdf">PDF</a></span>
   &middot; <span class="refs-link"><a href="/slides/fse17talk.pdf">Slides</a></span>


   &middot; <span class="refs-link"><a href="http://www.jsnaughty.org">Tool</a></span>
   &middot; <span class="refs-acceptance">Acceptance rate: 24% (72/295)</span>

  <div class="bibtex noshow">
    <pre class="bibtex-entry" id="bibtex-entry-vasilescu2017jsnaughty" style="display: none;">@inproceedings{vasilescu2017jsnaughty,
  author = {Vasilescu, Bogdan and Casalnuovo, Casey and Devanbu, Premkumar},
  title = {Recovering Clear, Natural Identifiers from Obfuscated JavaScript Names},
  booktitle = {12th Joint Meeting of the European Software Engineering Conference and the ACM SIGSOFT Symposium on the Foundations of Software Engineering},
  year = {2017},
  series = {ESEC/FSE},
  abbrv = {ESEC/FSE 2017},
  publisher = {ACM},
  pages = {},
  doi = {},
  pdf = {/papers/fse17jsnaughty.pdf},
  slides = {/slides/fse17talk.pdf},
  tool = {http://www.jsnaughty.org},
  acceptance = {24% (72/295)},
  pubcls = {1},
  pubtype = {Conference papers (peer reviewed)}
}
</pre>
  </div>
</div>
</li>


<li><div class="refs-row">
<div class="reference">
<!-- <span id="vasilescu2016sky"><div class="csl-block"><b>The Sky is Not the Limit: Multitasking on GitHub Projects</b>. </div><div class="csl-block">Vasilescu, B., Blincoe, K., Xuan, Q., Casalnuovo, C., Damian, D., Devanbu, P., and Filkov, V. </div><div class="csl-block"><i>International Conference on Software Engineering</i>, <i>ICSE</i>, ACM (2016), 994–1005.</div></span> -->
<span id="vasilescu2016sky"><div class="csl-block"><b>The Sky is Not the Limit: Multitasking on GitHub Projects</b>. </div><div class="csl-block"><u class="ref">Vasilescu, B.</u>, Blincoe, K., Xuan, Q., Casalnuovo, C., Damian, D., Devanbu, P., and Filkov, V. </div><div class="csl-block"><i>International Conference on Software Engineering</i>, <i>ICSE</i>, ACM (2016), 994–1005.</div></span>
</div>
  <span class="refs-link"><a href="javascript:void(0)" onclick="$('#bibtex-entry-vasilescu2016sky').slideToggle();">BibTeX</a></span>
   &middot; <span class="refs-link"><a href="http://dx.doi.org/10.1145/2884781.2884875">DOI</a></span>
   &middot; <span class="refs-link"><a href="/papers/icse16focus.pdf">PDF</a></span>
   &middot; <span class="refs-link"><a href="/slides/icse16talk.pdf">Slides</a></span>



   &middot; <span class="refs-acceptance">Acceptance rate: 19% (101/530)</span>

  <div class="bibtex noshow">
    <pre class="bibtex-entry" id="bibtex-entry-vasilescu2016sky" style="display: none;">@inproceedings{vasilescu2016sky,
  author = {Vasilescu, Bogdan and Blincoe, Kelly and Xuan, Qi and Casalnuovo, Casey and Damian, Daniela and Devanbu, Premkumar and Filkov, Vladimir},
  title = {The Sky is Not the Limit: Multitasking on {GitHub} Projects},
  booktitle = {International Conference on Software Engineering},
  series = {ICSE},
  year = {2016},
  publisher = {ACM},
  pages = {994--1005},
  doi = {http://dx.doi.org/10.1145/2884781.2884875},
  pdf = {/papers/icse16focus.pdf},
  slides = {/slides/icse16talk.pdf},
  acceptance = {19% (101/530)},
  pubcls = {1},
  pubtype = {Conference papers (peer reviewed)}
}
</pre>
  </div>
</div>
</li>

</ol>




</div>
</div>



			{% include footer.html %}

		</body>


  </html>
